@CHARSET "UTF-8";

html,body{
	padding:0px; margin:0px;
	overflow: hidden;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}
::-webkit-scrollbar {
	width: 9px;
	height: 9px;
	background: white;
	border-left: 1px solid #e8e8e8;
}
::-webkit-scrollbar-thumb {
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	border-radius: 6px;
	background: #c9c9c9;
}
::-webkit-scrollbar-thumb:hover {
	background: #b5b5b5;
}
.clear{
	clear:both;
}
#designer{
	width:100%;
	position: relative;
}
#shape_panel{
	width:162px;
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	background: #F6F6F6;
	border-right: 1px solid #A2A2A2;
}
.panel_container{
	border-bottom: 1px solid #CBCCCC;
	margin-top: 1px;
}
.panel_title{
	position: relative;
	margin: 0px;
	background-color: #F3F3F3;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 2px 0 19px;
	border-bottom: #cccccc solid 1px;
	cursor: default;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-ms-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
}
.panel_title .ico_accordion{
	position: absolute;
	left: 5px;
	top: 11px;
}
.panel_container .content{
	margin: 0px auto;
	width: 138px;
	padding: 5px 0px;
}
.panel_collapsed .panel_title{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	border-bottom: 0px;
}
.panel_collapsed .content{
	display: none;
}
.panel_collapsed .ico_accordion{
	background-position: -51px -46px;
}
.panel_box{
	display:inline-block;
	border:2px solid transparent;
	position:relative;
}
.panel_box.selected{
	border-color: #6EB1EB;
}
#shape_thumb{
	position: absolute;
	left: 5px; top: 0px;
	padding: 5px;
	display: none;
}
#shape_thumb div{
	padding: 0px 0px 10px;
	text-align: center;
}
.group_icon{
	position:absolute;
	display:block;
	bottom:0px;
	right:0px;
	background: url(../images/diagraming/sprite.png) no-repeat;
	height: 10px;
	width: 10px;
	background-position: -43px -64px;
	opacity: 0.8;
}
.group_icon:hover{
	opacity: 1;
}
.change_shape_icon{
	right: -10px;
	bottom: -10px;
}
.group_dashboard{
	padding: 4px;
	width: 136px;
	cursor: default;
}
.panel_item{
	margin:0px auto;
}
#creating_shape_container{
	overflow: hidden;
	position: absolute;
	display: none;
}
#creating_shape_canvas{
	position: absolute;
}
#designer_viewport{
	position: relative;
	margin-left: 163px;
}
#demo_signup{
	background: #b2b2b2;
	padding: 10px 20px 10px 140px;
	border-bottom: 1px solid #a0a0a0;
	height: 39px;
	position: relative;
}
#demo_signup span{
	line-height: 19px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.11);
}
#demo_signup a{
	position: absolute;
	left: 20px;
	line-height: 38px;
	height: 38px;
	width: 80px;
	font-size: 16px;
}
#designer_layout{
	overflow: scroll;
	position: relative;
	background: url(../images/diagraming/canvas_bg.jpg) repeat;
	z-index: 0;
}
#designer_canvas{
	position: relative;
	background:#F2F2F2;
	overflow: visible;
	box-shadow: 3px 3px 6px #888;
}
#shape_img_container{
	height: 0px;
	overflow: hidden;
}
.shape_box{
	position:absolute;
}
.link_point_canvas{
	position:absolute;
}
.shape_box_creating{
	position:absolute;
}
/**锚点、控制点样式*/
.shape_anchor{
	position: absolute;
	border-style: solid;
	border-width: 1px;
	background: white;
}
/**形状锁定提醒样式*/
.shape_locker{
	position: absolute;
}
.shape_controller{
	position: absolute;
	border-style: solid;
	border-width: 1px;
	background: white;
}
.shape_controller.n.w{
	cursor: nw-resize;
}
.shape_controller.n.e{
	cursor: ne-resize;
}
.shape_controller.s.e{
	cursor: se-resize;
}
.shape_controller.s.w{
	cursor: sw-resize;
}
.shape_controller.n, .shape_controller.s{
	cursor: n-resize;
}
.shape_controller.e, .shape_controller.w{
	cursor: e-resize;
}
.shape_rotater{
	position: absolute;
}
.shape_rotater.rotate_enable{
	cursor: url(../images/diagraming/rotate.gif) 16 16, auto;
}
/**图形选择后的控件容器*/
#shape_controls{
	position: absolute; left: 0px; top: 0px;
}
#shape_controls #controls_bounding{
	position: absolute; left: -10px; top: -10px;
}
/**图形的矩形轮廓容器*/
.shape_contour{
	position: absolute; left: 0px; top: 0px; width: 0px; height: 0px;
}
/**图形选择框*/
#selecting_box{
	position: absolute; border: 1px solid #6EB1EB;
	background: rgba(22, 145, 232, 0.1);
}
/**创建文本的位置选择框*/
#texting_box{
	position: absolute; border: 2px solid #6EB1EB;
}
/* 文本编辑 */
#shape_edit_menu{
	padding: 15px 20px;
	position: absolute;
}
#shape_edit_menu textarea{
	display: block;
	width: 280px;
	margin-bottom: 5px;
	overflow: hidden;
}
#shape_text_edit{
	position: absolute;
	overflow: hidden;
	background: rgba(255,255,255,.01);
	border: 2px solid #f7ddaa;
	border-radius: 2px;
	padding: 0px;
	cursor: text;
}
#shape_text_ruler{
	padding: 0px;
	border: none;
	background: transparent;
	opacity: 0;
	height: 0px;
	overflow: hidden;
}
/** 连接线文本编辑 */
#linker_text_edit{
	position: absolute;
	overflow: hidden;
	background: white;
	border: 2px solid #f7ddaa;
	border-radius: 2px;
	padding: 0px;
}
.text_canvas{
	position: absolute;
	padding: 0px;
	border: none;
	background: transparent;
	cursor: inherit;
	overflow: hidden;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}
.text_canvas.linker_text{
	background: white;
	white-space:nowrap
}
.attr_canvas{
	position: absolute;
}
#link_spot{
	position: absolute;
	width: 100px;
	height: 100px;
	display: block;
}
/** 设计器操作气泡提示 */
#designer_op_tip{
	position: absolute;
	border: 1px solid #D1D1D1;
	background: #f2f2f2;
	padding: 5px 10px;
	border-radius: 3px;
	display:none;
	color: #444;
	text-align: center;
	white-space:nowrap;
}
/**对齐线*/
#designer_op_snapline_h{
	background: #6EB1EB;
	position: absolute;
	height: 1px;
	width: 100%;
}
#designer_op_snapline_v{
	background: #6EB1EB;
	position: absolute;
	width: 1px;
}
#designer_op_snapline_attach{
	position: absolute;
	border: 2px solid #6EB1EB;
}
/**菜单*/
.menu{
	position: absolute;
	background: #FFF;
	border-radius: 4px;
	border: 1px solid rgb(180,180,180);
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}
.menu.list{
	padding: 4px 0px;
}
.menu li{
	padding: 0px 20px; line-height: 26px; cursor: default;
	position: relative;
}
.menu_ico li{
	padding: 0px 30px;
}
.menu li:hover{
	background-color: #eee;
/* 	background-color: #2eb5e5; */
/* 	background-image: -moz-linear-gradient(top, #34c0e9 0%, #29aae1 100%); */
/* 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34c0e9), color-stop(100%, #29aae1)); */
/* 	background-image: -webkit-linear-gradient(top, #34c0e9 0%, #29aae1 100%); */
/* 	background-image: -o-linear-gradient(top, #34c0e9 0%, #29aae1 100%); */
/* 	background-image: -ms-linear-gradient(top, #34c0e9 0%, #29aae1 100%); */
/* 	background-image: linear-gradient(top, #34c0e9 0%, #29aae1 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34c0e9', endColorstr='#29aae1',GradientType=0 ); */
/* 	color: #fff; */
/* 	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
}
.menu li.disabled{
/* 	color: #999; */
	color: #ccc;
}
.menu li.disabled:hover{
/* 	color: #999; */
	color: #ccc;
	background-color: transparent;
	background-image: none;
	filter: none;
	text-shadow:none;
}
.menu li .ico_selected{
	position: absolute;
	top: 3px;
	left: 5px;
}
.menu .devider{
	height: 0px;
	border-top: #ccc solid 1px;
	margin: 4px 0;
}
.menu .menu_text{
	color: #888;
}
.menu .menu_text:hover{
	background: transparent;
}
/**图形画板*/
.shape_dashboard{
	padding: 4px;
	width: 136px;
	cursor: default;
}
.dashboard_box{
	display:inline-block;
	padding:1px;
	border: 1px solid transparent;
	position: relative;
}
.dashboard_box:hover{
	border-color: #D1D1D1;
	background: #f2f2f2;
}
/**操作帮助*/
#designer_op_help{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 24px;
	font-weight: bold;
	color: #A7A7A7;
	color: rgba(0,0,0,.3);
	padding: 5px;
}
/**鹰眼视图*/
.navigation_bounding{
	padding: 10px 0px;
	overflow: hidden;
}
.navigation_view_container{
	margin: 0px auto;
	position: relative;
	width: 120px;
}
#navigation_canvas{
	background: white;
	border: 1px solid #888;
}
#navigation_eye{
	position: absolute;
	border: 2px solid #6EB1EB;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 80px;
}
.linker_cursor{
	background: #db5e5e;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	z-index: 1000;
}
.linker_control_line{
	position: absolute;
	width: 1px;
	opacity: 0.5;
	background: #833;
}
.linker_control_point{
	position: absolute;
	width: 6px;
	height: 6px;
	border: 1px solid #833;
	background: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	cursor: default;
}
.linker_control_point:hover, .linker_control_point.moving{
	background: #db5e5e;
}
.navigation_view_bar{
	padding: 10px;
}
.navigation_view_bar .toolbar_button, .navigation_view_bar .spinner{
	display: inline-block;
}
.navigation_view_bar .spinner{
	width: 55px;
}
.navigation_view_bar .toolbar_button{
	float: right;
	margin-left: 5px;
}

/*Full Screen Styles*/
#shape_panel.readonly {
	display: none;
}
#designer_viewport.readonly{
	margin-left: 0px;
}
#fullscreen_tip{
	position: absolute;
	bottom: -70px;
	right: 0px;
	display: none;
	white-space:nowrap;
}
#fullscreen_tip .dlg_close{
	position: absolute;
	top: 1px;
	right: 2px;
}
.full_suggest{
	margin-top: 5px;
	line-height: 20px;
	height: 20px;
}
.full_suggest span{
	display: inline-block;
	float: left;
}
.full_suggest .ico{
	margin-right: 5px;
}
