<html>
<head>
	{% load staticfiles %}
	<title>Knowledge -- powered by suyuxin</title>
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
	<link href="{% static "css/notebook_list.css" %}" ref="stylesheet">
	<script src="{% static "js/plugins/jquery-2.0.3.min.js" %}"></script>
	<script src="{% static "js/plugins/bootstrap.min.js" %}"></script>
</head>
<body>
	<span class="label label-info">Notebook list:</span>
	<ul class="list-group">
		{% for notebook in notebook_list %}
		<a href="/notebook/{{notebook.guid}}" class="list-group-item">{{notebook.name}}</a>
		{% endfor %}
	</ul>
</body>
</html>